{% extends "base.html" %}
{% load menu_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock extra_css %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block content %}
    <div class='navigation'>{% main_menu max_levels=2 use_specific=USE_SPECIFIC_TOP_LEVEL apply_active_classes=True %}</div>
    <h1>{{ page.title }}</h1>
    <div class="intro">{{ page.intro|richtext }}</div>
    <div class=nav><dl>
      {% for post in page.get_children %}
        {% with post=post.specific %}
          <dt><a href="{% pageurl post %}">{{ post.title }}</a></dt>
          <dd>{{ post.intro }}</dd>
        {% endwith %}
      {% endfor %}
    </dl></div>
{% endblock %}
