{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load lazyimages_tags %}
{% block body_class %}template-GalleryPage{% endblock %}
{% block content %}
<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
  <li class="nav-item"><a class="nav-link" href="#contact">Contact Me</a></li>
  {% for post in page.get_children %}
    {% with post=post.specific %}
      {% if post.title != 'My Projects' %}
        <li class="nav-item"><a class="nav-link" href="{% pageurl post %}">{{ post.title }}</a></li>
      {% endif %}
    {% endwith %}
  {% endfor %}
</ul>
  <div class="py-5 align-items-center d-flex">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 px-md-5">
          <h1 class="display-3 mb-4">My Art Collection</h1>
          <p class="lead mb-4">It's all sorted in reverse-chronological order.</p> <a href="#carousel1" class="btn btn-lg btn-primary">Go to the first year</a>
        </div>
      </div>
    </div>
  </div>

  {% for block in page.images %}
    {% if block.label == 'year' %}
      <h1 class="mb-3">{% block.value %}</h1>
    {% else %}
      {% for img in block %}
        {% image img.image max-1000x1000 class="img-fluid w-100 lozad d-block w-100 carousel-img mx-auto" %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  <!--<div class="py-5">
    <div class="container">
      <div class="row" style="">
        <div class="text-center mx-auto col-lg-8 col-10">
          <h1 class="mb-3">2018</h1>
          <div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000" style="">
            <div class="carousel-inner">
              <div class="carousel-item active"> <img class="d-block w-100 carousel-img mx-auto" src="../../Downloads/hand-contour.png"> </div>
              <div class="carousel-item"> <img class="d-block w-100 carousel-img mx-auto" src="../../Downloads/cube.png"> </div>
              <div class="carousel-item"> <img class="d-block w-100 carousel-img mx-auto" src="../../Downloads/three-point-building.jpg"> </div>
              <div class="carousel-item"> <img class="d-block w-100 carousel-img mx-auto" src="../../Downloads/two-point-building.jpg"> </div>
              <div class="carousel-item"> <img class="d-block w-100 carousel-img mx-auto" src="../../Downloads/blocks.jpg"> </div>
              <div class="carousel-item"> <img class="d-block w-100 carousel-img mx-auto" src="../../Downloads/yellow-brick-road.jpg"> </div>
              <div class="carousel-item"> <img class="d-block w-100 carousel-img mx-auto" src="../../Downloads/gradients.png"> </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carousel1" data-slide-to="0" class="active bg-secondary"> </li>
              <li data-target="#carousel1" data-slide-to="1" class="bg-secondary"> </li>
              <li data-target="#carousel1" data-slide-to="2" class="bg-secondary"> </li>
              <li data-target="#carousel1" data-slide-to="3" class="bg-secondary"> </li>
              <li data-target="#carousel1" data-slide-to="4" class="bg-secondary"> </li>
              <li data-target="#carousel1" data-slide-to="5" class="bg-secondary"> </li>
              <li data-target="#carousel1" data-slide-to="6" class="bg-secondary"> </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>-->
{% endblock %}
