{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load lazyimages_tags %}
{% block extra_js %}
{% endblock %}
{% load menu_tags %}
{% block body_class %}template-GalleryPage{% endblock %}
{% block content %}
<body class="bg-secondary">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" data-placement="bottom" data-toggle="tooltip" href="http://localhost:8000/">Miguel Pimentel</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNowUIKitFree">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-start" id="navbarNowUIKitFree scroll">
      {% main_menu max_levels=1 use_specific=USE_SPECIFIC_TOP_LEVEL class="navbar-nav navbar-expand-lg" %}
      <ul class="navbar-nav flex-row justify-content-center mt-2 mt-md-0">
        <li class="nav-item mx-1">
          <a class="nav-link" href="https://migueljpimentel-blog.tumblr.com/" data-placement="bottom" data-toggle="tooltip" title="Follow me on Tumblr">
            <i class="fa fa-fw fa-tumblr fa-2x"></i>
          </a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" href="https://twitter.com/pimentel611" data-placement="bottom" data-toggle="tooltip" title="Follow me on Twitter">
            <i class="fa fa-fw fa-twitter fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="py-5 align-items-center d-flex text-white" style="position: realtive; top: 60px;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 px-md-5">
        <h1 class="display-3 mb-4">{{ page.title }}</h1>
        <p class="meta">{{ page.date }}</p>
        <div class="intro">{{ page.intro }}</div>
        <br></br>
        <a href="{{ page.get_parent.url }}" class="btn btn-lg btn-primary">Return to {{ page.get_parent.title }}</a>
      </div>
    </div>
  </div>
</div>
    <div class="py-5 align-items-center d-flex text-white" style="position: realtive; top: 60px;">
      <div class="container py-5">
        <div class="row">
            {% for block in page.body %}
              {% if block.block_type == 'image' %}
                <div class="col-md-8 px-md-5">
                  {% image block.value max-1000x1000 class="img-fluid w-100 lozad" style="padding: 5px;" %}
                </div>
              {% endif %}
            {% endfor %}
      </div>
      <br><br><br>
      <a href="{{ page.get_parent.url }}" class="btn btn-lg btn-primary">Return to {{ page.get_parent.title }}</a>
    </div>
  </div>
</body>
{% endblock %}
