{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load lazyimages_tags %}
{% block body_class %}template-homepage{% endblock %}
{% load menu_tags %}
{% block content %}
<body class="bg-secondary">
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" data-placement="bottom" data-toggle="tooltip" href="http://localhost:8000/">Miguel Pimentel</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNowUIKitFree">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-start" id="navbarNowUIKitFree scroll">
        {% main_menu max_levels=1 use_specific=USE_SPECIFIC_TOP_LEVEL %}
        <ul class="navbar-nav flex-row justify-content-center mt-2 mt-md-0">
          <li class="nav-item mx-1">
            <a class="nav-link" data-placement="bottom" data-toggle="tooltip" title="Follow me on Tumblr" href="https://migueljpimentel-blog.tumblr.com/">
              <i class="fa fa-fw fa-tumblr fa-2x"></i>
            </a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="https://twitter.com/pimentel611" data-placement="bottom" data-toggle="tooltip" title="Follow me on Twitter">
              <i class="fa fa-fw fa-twitter fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% comment %}
  <div class="py-5 text-center text-white shadow-sm landing-page h-75 homePageClass">
    <video autoplay loop muted playsinline class="bg_video">
      <source src="media/media/{{ page.videoName }}.mp4" type="video/mp4">
    </video>
    <div class="container py-5 w-100 h-100">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto video-text">
          <div class="lead mb-5 text-white">
            {{ page.body | richtext }}
          </div>
          <a href="#contact" class="btn btn-lg btn-primary mx-1 video-button">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
  <header>
      <div class="overlay"></div>
      <video autoplay loop muted playsinline>
        <source src="media/media/{{ page.videoName }}.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
              <div class="w-100 text-white">
                  {{ page.body | richtext }}
              </div>
          </div>
      </div>
  </header>
</body>
{% endblock content %}
